.header {
  padding: 0 40px;

  &__wrapper {
    max-width: $maxwidth;
    @include flex(space-between);
    @include mc;
    margin-top: 50px;

    @include media_undo("tablet-wide") {
      display: none;
    }
  }

  .logo {
    min-width: 145px;
    max-width: 145px;
    margin-right: 6%;

    &__img {
      width: 100%;
    }
  }

  .menu {
    width: 100%;

    &__list {
      @include flex(space-evenly);
      flex-wrap: nowrap;
      font-size: 1.375rem;
      font-weight: 350;
    }

    &__item {
      white-space: nowrap;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  &__contacts {
    flex-shrink: 0;
    margin-left: 6%;
  }

  &__tel {
    font-size: 1.375rem;
    font-weight: bold;
  }

  &__mobile {
    display: none;
    height: 32px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;

    @include media_undo("tablet-wide") {
      display: block;
    }
  }
}

.menu__mobile {
  @include flex;
  flex-direction: column;
  height: 100%;
  width: 42px;
  cursor: pointer;

  &__burger {
    &::before {
      content: "";
      margin-top: -13px;
    }

    &::after {
      content: "";
      margin-top: 13px;
    }
  }

  &__burger,
  &__burger::before,
  &__burger::after {
    display: block;
    position: absolute;
    height: 5px;
    width: 42px;
    border-radius: 2px;
    background-color: $blue;
  }

  &:hover > &__burger {
    background-color: $black;
    &::before,
    &::after {
      background-color: $black;
    }
  }
}

.side__menu {
  display: none;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $alpha-black;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  animation: fade 0.4s;

  &__wrapper {
    max-width: 300px;
    width: 100%;
    padding: 48px 40px 38px;
    background-color: $black;
    z-index: 999999;
    overflow: hidden;
    transition: transform ease-in-out 0.3s;
    position: relative;
    animation: menuSlide 0.4s;

    .menu {
      &__item {
        margin-bottom: 15px;

        a {
          font-size: 1.375rem;
          font-weight: 350;
          color: $white;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .close {
      position: absolute;
      top: 13px;
      right: 13px;

      &__cross {
        @include cross(24px, $white, 2px);
        cursor: pointer;
      }
    }
  }
}
