.services {
  $columns: 3;
  $rowHeight: 433px;
  $rowHeightMobile: 320px;

  &__list {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    border-left: 1px solid $black;
    border-top: 1px solid $black;

    @include media_undo("tablet-wide") {
      grid-template-columns: repeat($columns - 1, 1fr);
    }

    @include media_undo("tablet") {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    @include flex(space-between, flex-start);
    flex-direction: column;
    height: $rowHeight;
    padding: 28px;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    overflow: hidden;

    @include media_undo("tablet") {
      height: $rowHeightMobile;
    }

    &__header {
      font-size: 2.25rem;
      text-transform: uppercase;
      word-break: break-word;

      @include media_undo("tablet") {
        font-size: 6.5vw;
      }
    }

    &_internet {
      grid-column: 1 / #{$columns};
      background: url("../img/static/services-internet.png"), url("../img/static/line-services-internet.svg");
      background-position: center, center;
      background-repeat: no-repeat;
      background-size: auto, 100%;

      @include media_undo("tablet-wide") {
        grid-column: 1 / #{$columns - 1};
        background-position: bottom, center;
      }

      @include media_undo("tablet") {
        grid-column: 1;
        background-position: right;
      }
    }

    &_empty {
      padding: 0;

      @include media_undo("tablet") {
        display: none;
      }
    }

    &_polygraphy {
      background: url("../img/static/services-polygraphy.png") center no-repeat;
    }

    &_souvenirs {
      background: url("../img/static/services-souvenirs.png") center no-repeat;
    }

    &_design {
      background: url("../img/static/line-services-design.svg") center no-repeat;
      background-size: contain;
    }

    &_outdoor {
      background: url("../img/static/services-outdoor.png") center no-repeat;

      @include media_undo("tablet") {
        background-position-x: right;
      }
    }
  }

  &__internet {
    padding: 0;

    &__list {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: 1fr;
      width: 100%;
      height: 100%;
    }

    &__item {
      border-top: 1px solid $black;

      &:nth-child(1) {
        border-top: none;

        @include media_undo("tablet") {
          display: none;
        }
      }

      &:nth-child(2) {
        @include media_undo("tablet") {
          border-top: none;
        }
      }
    }

    &__link {
      @include flex(normal, center);
      width: 100%;
      height: 100%;
      padding: 0 30px 0 20px;
      font-size: 1.125rem;
      text-transform: uppercase;
      position: relative;
      transition: background-color 0.2s ease-out;

      &::after {
        @include pseudo("");
        right: 20px;
        width: 11px;
        height: 11px;
        background: $arrow-black center no-repeat;
        font-size: 1.125rem;
      }

      &:hover {
        background-color: $pink;
      }
    }
  }

  &__link {
    @include fontDela;
    font-size: 1.125rem;
    text-decoration-line: underline;
  }

  &__button {
    @include media_undo("tablet") {
      align-self: center;
    }
  }

  .modal {
    display: none;
    // display: grid;
    grid-template-columns: repeat($columns, 1fr);
    height: auto;
    grid-column: span 3;
    padding: 0;
    background-color: $salmon;
    overflow: hidden;

    @include media_undo("tablet-wide") {
      grid-column: span $columns - 1;
    }

    @include media_undo("tablet") {
      grid-template-columns: 1fr;
      grid-column: 1;
      position: relative;
    }

    &_radio {
      background-color: $pink;
    }

    &_souvenirs {
      background-color: $blue;
      color: $white;

      .button_order {
        @include button(black, $white);
      }
    }

    &_design {
      background-color: $green;
    }

    &_outdoor {
      background-color: $darkcreamy;
    }

    &__wrapper {
      height: 100%;
      grid-column: 1 / 3;
      margin-right: -1px;
      border-right: 1px solid $black;
      background-image: linear-gradient($black, $black), linear-gradient($black, $black);
      background-repeat: repeat-x;
      background-position: 0 73px, 0 146px;
      background-size: 100% 1px;

      @include media_undo("tablet") {
        grid-column: 1;
        margin-right: 0;
        border-right: none;
        border-bottom: 1px solid $black;
        background-position: 0 13vw, 0 26vw;
      }
    }

    &__header {
      min-height: 146px;
      padding: 0 28px;
      font-size: 2.25rem;
      line-height: 2;
      text-transform: uppercase;

      @include media_undo("tablet") {
        min-height: 26vw;
        background-size: 30%;
        background-position: right bottom;
        font-size: 6.5vw;
      }

      &_context {
        padding-right: 10%;
        background-image: url("../img/static/services-modal-context.png");
        background-repeat: no-repeat;
        background-position: 95% 0%;
      }

      &_media {
        padding-right: 40%;
        background-image: url("../img/static/services-modal-media.png");
        background-repeat: no-repeat;
        background-position: 95% 30%;
      }

      &_sites {
        padding-right: 20%;
        background-image: url("../img/static/services-modal-sites.png");
        background-repeat: no-repeat;
        background-position: 100% 36%;
      }

      &_smm {
        padding-right: 40%;
        background-image: url("../img/static/services-modal-smm.png");
        background-repeat: no-repeat;
        background-position: 60% 10%;
      }

      &_seo {
        padding-right: 50%;
        background-image: url("../img/static/services-modal-seo.png");
        background-repeat: no-repeat;
        background-position: 50% -70%;
      }

      &_radio {
        padding-right: 40%;
        background-image: url("../img/static/services-modal-radio.png");
        background-repeat: no-repeat;
        background-position: 80% 45px;
      }

      &_polygraphy {
        padding-right: 25%;
        background-image: url("../img/static/services-modal-polygraphy.png");
        background-repeat: no-repeat;
        background-position: 80% 10%;
      }

      &_souvenirs {
        padding-right: 30%;
        background-image: url("../img/static/services-modal-souvenirs.png");
        background-repeat: no-repeat;
        background-position: 70% 25%;
      }

      &_design {
        padding-right: 40%;
        background-image: url("../img/static/services-modal-design.png");
        background-repeat: no-repeat;
        background-position: 60% 25px;
      }

      &_outdoor {
        padding-right: 40%;
        background-image: url("../img/static/services-modal-outdoor.png");
        background-repeat: no-repeat;
        background-position: 80% 15%;
      }
    }

    &__content {
      padding: 0 28px 28px;
      margin-top: 30px;
      column-count: 2;
      column-gap: 45px;
      column-width: 200px;

      p {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__controls {
      @include flex;
      height: 100%;
      position: relative;

      @include media_undo("tablet") {
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        position: initial;
      }

      $size: 40px;

      .close {
        @include flex;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 1em;
        height: 1em;
        border: 1px solid $black;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.2s ease-out;
        font-size: $size;

        @include media_undo("tablet") {
          top: 3.25vw;
          right: 2vw;
          font-size: 7vw;
        }

        &:hover {
          background-color: $black;
          color: $white;
        }

        &__cross {
          @include cross(.55em, currentColor, 1px);
        }
      }

      .services__modal__button {
        @include button(black, transparent);
      }
    }
  }
}