.your-side {
  max-width: 100%;
  margin-top: 160px;
  background: url("../img/line-your-side.svg") center top no-repeat;

  @include media_undo("tablet") {
    background-size: 200%;
    background-position: center 20vw;
  }    

  &__wrapper {
    max-width: 880px;
    @include mc;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__circles {
    display: inline-block;

    &::before,
    &::after {
      margin: 0 25px;

      @include media_undo("tablet") {
        margin-left: 3vw;
        margin-right: 3vw;
      }   
    }

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  &__circle_1,
  &__circle_2 {
    display: inline-block;
    vertical-align: bottom;

    @include media_undo("tablet") {
      width: 12vw;
      height: 12vw;
    }    
  }

  &__circle_1 {
    background-color: $pink;
  }

  &__circle_2 {
    background-color: $salmon;
    margin-left: -30px;

    @include media_undo("tablet") {
      margin-left: -3.6vw;
    }    
  }

  &__content {
    @include flex;

    @include media_undo("tablet") {
      flex-direction: column;
      gap: 40px;
    }    
  }

  &__text {
    flex-basis: 50%;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__controls {
    flex-basis: 50%;
    @include flex;
  }

  &__button {
    @include button(black, $salmon);
  }
}
