.portfolio {
  $rowHeight: 510px;
  $rowHeightMobile: 450px;
  $titleHeight: 75px;
  $columns: 3;

  margin-top: 180px;

  @include media_undo("tablet") {
    margin-top: 150px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-auto-flow: dense;
    border-left: 1px solid $black;
    border-top: 1px solid $black;

    @include media_undo("tablet-wide") {
      grid-template-columns: repeat($columns - 1, 1fr);
    }

    @include media_undo("tablet") {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    height: $rowHeight;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    overflow: hidden;
    position: relative;

    @include media_undo("tablet") {
      height: $rowHeightMobile;
    }

    &_colspan {
      grid-column: span 2;

      @include media_undo("tablet") {
        grid-column: 1;
      }
    }

    &_rowspan {
      height: $rowHeight * 2;
      grid-row: span 2;

      @include media_undo("tablet") {
        height: $rowHeightMobile * 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @include flex(flex-start);
    height: $titleHeight;
    padding: 20px 30px;
    border-bottom: 1px solid $black;
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  &__content {
    @include flex;
    height: calc(100% - $titleHeight);
  }

  &__button {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}