.contacts {
  max-width: 100%;
  margin-top: 150px;
  padding-top: 30px;
  background: url("../img/line-contacts.svg") right top no-repeat;
  overflow: hidden;

  @include media_undo("tablet") {
    background-size: 200%;
  }

  &__wrapper {
    max-width: $maxwidth;
    @include mc;
    position: relative;
  }

  &__header {
    margin-bottom: 0px;
  }

  &__arrow {
    width: 53px;
    height: 53px;
    margin: 40px 0 0px;

    @include media_undo("tablet") {
      width: 40px;
      height: 40px;
      margin: 15px 0 24px;
    }
  }

  &__content {
    @include flex(space-between, center);
    margin-bottom: 120px;

    @include media_undo("tablet") {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__address {
    width: 43%;

    @include media_undo("tablet") {
      width: 100%;
    }
  }

  .address {
    @include flex(space-between);
    border-bottom: 1px solid $black;
    padding: 15px 0;

    &:first-child {
      border-top: 1px solid $black;
    }

    &__field {
      padding-right: 15px;
    }

    &__value {
      text-align: right;
    }
  }

  &__controls {
    @include flex;
    margin-left: 25px;
    margin-right: 7%;
    padding: 60px;
    border: 1px solid $black;
    border-radius: 50%;

    &::before {
      content: "";
      padding-top: 100%;
      height: 0;
    }

    @include media_undo("tablet") {
      margin: auto;
      border: none;

      &::before {
        content: none;
      }
    }
  }

  &__button {
    width: 195px;
    @include button(black, $salmon);
  }

  &__circle {
    position: absolute;
    top: 420px;
    left: -210px;
  }

  &__map {
    #yandex-map {
      width: 100%;
      height: 540px;

      @include media_undo("tablet") {
        height: auto;
        min-height: 300px;
        max-width: 100%;
        aspect-ratio: 3 / 2;
      }

      [class*="gototech"] {
        display: none !important;
      }

      [class*="ground-pane"] {
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
    }
  }
}