// sizes
$maxwidth: 1300px;

// colors
$white: #fff;
$black: #000;
$creamy: #fff7ea;
$blacky: #222221;
$salmon: #ff805f;
$pink: #ffb2ec;
$green: #eeeac4;
$blue: #655cd8;
$darkcreamy: #efd4c5;

//svg
$arrow-black: url("data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.674%2010.154L9.306%202.522L9.756%209.146L10.746%208.156L10.314%200.739999L2.898%200.325999L1.908%201.316L8.55%201.766L0.918%209.398L1.674%2010.154Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
$arrow-white: url("data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1.674%2010.154L9.306%202.522L9.756%209.146L10.746%208.156L10.314%200.739999L2.898%200.325999L1.908%201.316L8.55%201.766L0.918%209.398L1.674%2010.154Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E%0A");

html {
  font-size: 16px;
}

body {
  @include fontCirce;
  background-color: $creamy;
}

svg {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  @include fontDela;
}

.main {
  @include flex;
  flex-direction: column;
  overflow-x: hidden;
}

.section {
  flex-grow: 1;
  width: 100%;
  max-width: $maxwidth + 80px;
  margin-top: 200px;
  padding: 0 40px;
}

.circle {
  width: 100px;
  height: 100px;
  border: 1px solid $black;
  border-radius: 50%;
}

.button {
  @include flex();
  width: 220px;
  height: 50px;
  border: 1px solid $black;
  font-size: 1.125rem;
  font-weight: 350;
  transition: background-color 0.2s ease-out;

  &::after {
    content: "";
    width: 11px;
    height: 11px;
    background: $arrow-white center no-repeat;
    margin-left: 0.3rem;
  }

  &:hover::after {
    background: none;
  }

  &_order {
    @include button;
  }
}

.text {
  font-size: 1.125rem;
  font-weight: 350;
  text-align: justify;
  line-height: 1.35rem;
}

span.bold {
  font-weight: bold;
}