// quick flex
@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

// base ::after и ::before
@mixin pseudo($content: '', $display: block, $pos: absolute) {
  content: $content;
  display: $display;
  position: $pos;
}

// center block
@mixin mc() {
  margin-left: auto;
  margin-right: auto;
}

// media-queries breakpoints
$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type ==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// change button colors
@mixin button($color: 'white', $background: $blacky) {
  background-color: $background;
  color: $white;

  &:hover {
    background-color: $salmon;
    color: $black;
  }

  &:after {
    background-image: $arrow-white;
  }

  @if $color ==black {
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }

    &:after {
      background-image: $arrow-black;
    }
  }
}