.popup {
  @include flex(center, flex-start);
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $alpha-black;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  animation: fade 0.4s;

  &__wrapper {
    width: 100%;
    max-width: 550px;
    margin: auto;
    border: 1px solid $black;
    background-color: $white;
    position: relative;
  }

  &__header {
    @include flex;
    padding: 35px;
    border-bottom: 1px solid $black;
    @include fontDela;
    font-size: 2.25rem;
    text-align: center;
  }

  &__intro {
    padding-top: 40px;
    text-align: center;
  }

  $size: 35px;

  .close {
    @include flex;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-size: $size;

    &:hover {
      background-color: $black;
      color: $white;
    }

    &__cross {
      @include cross(0.6em, currentColor, 2px);
    }
  }

  .form_order {
    display: flex;
    flex-direction: column;
    padding: 30px 60px 35px;

    input {
      margin-bottom: 15px;
      padding: 15px 20px;
      border: 1px solid $black;
      @include fontCirce;
      font-size: 1.125rem;
      font-weight: 350;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &::placeholder {
        color: $gray;
      }

      &:focus {
        border-color: $salmon;
        outline: none;
        box-shadow: 0 0 1px 1px $salmon;
        transition: all 0.15s;
      }
    }

    button {
      width: 100%;
      @include button(white, $black);

      &::after {
        content: none;
      }
    }

    .input__tel {
      @include flex(flex-start);
      width: 100%;
      position: relative;
      margin-bottom: 15px;

      span {
        position: absolute;
        left: 20px;
        font-size: 1.125rem;
        font-weight: 350;
      }

      input {
        width: 100%;
        margin-bottom: 0;
        padding-left: 45px;
      }
    }
  }

  .form__error,
  .form__success {
    @include flex;
    padding: 15px 20px;
    font-size: 1.125rem;
    text-align: center;
  }

  .form__error {
    margin-top: 15px;
    background-color: $salmon;
  }

  .form__success {
    background-color: $green;
  }
}

.body_popup {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}