.title {
  @include flex(center, flex-end);
  flex-direction: column;
  margin-top: 180px;

  .slogan {
    display: flex;
    flex-direction: column;
    width: 1000px;
    @include fontDela;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: underline;

    &__left,
    &__right,
    &__center {
      display: inline-block;
    }

    &__right {
      align-self: flex-end;
    }

    &__center {
      align-self: center;
    }
  }
}